{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
  <img src="{% static 'images/banner-elysium.webp' %}" alt="Elysium banner image">

  <div class="search-container">
    <h2>Find your dream home</h2>
    <h3>Search using 'town name' or 'postcode'</h3>
    <form id="home-search-form">
      <div class="search-bar">
        <input type="text" name="search" id="home-search-input" placeholder="Enter location">
        <button type="button" id="rent-button">Rent</button>
        <button type="button" id="buy-button">Buy</button>
      </div>
      <button type="button" id="toggle-filters">Show Filters</button>
      <div class="filters-container" id="filters-container" style="display: none;">
        <label for="property-type">Property Type:</label>
        {{ form.property_type }}
        <label for="bedrooms-min">Bedrooms:</label>
        {{ form.bedrooms_min }}
        <label for="bedrooms-max">Bedrooms:</label>
        {{ form.bedrooms_max }}
        <label for="price-min">Price (£):</label>
        {{ form.price_min }}
        <label for="price-max">Price (£):</label>
        {{ form.price_max }}
        <label for="garden">Garden:</label>
        {{ form.garden }}
        <label for="parking">Parking:</label>
        {{ form.parking }}
        <label for="pets_allowed">Pets Allowed:</label>
        {{ form.pets_allowed }}
      </div>
    </form>
  </div>

  <div class="container">
    <div class="view-all-container">
      <button id="view-all">View All</button>
    </div>
    <div class="property-list">
      {% for property in properties %}
      <div class="property-box">
        <p><a href="{% url 'property_detail' property.id %}">{{ property.title }}</a></p>
        <div class="image-carousel">
          {% for image in property.images.all %}
          <img src="{{ image.url }}" alt="{{ property.title }}">
          {% endfor %}
        </div>
        <p>Price: £{{ property.price }}</p>
        <p>Added on: {{ property.created_at|date:"d M Y" }}</p>
        <p>Type: {{ property.get_property_type_display }}</p>
        <p><i class="fa fa-bed"></i> {{ property.bedrooms }} bedrooms</p>
        <p>Location: {{ property.location }}</p>
        <button class="favorites-star" data-property-id="{{ property.id }}" data-is-favorite="{{ property.is_favorite }}" data-app="real_estate">
          {% if property.is_favorite %}
            <i class="fa-solid fa-heart"></i> Remove from Favorites
          {% else %}
            <i class="fa-regular fa-heart"></i> Add to Favorites
          {% endif %}
        </button>
        <button class="contact-agent" data-property-id="{{ property.id }}" data-app="real_estate"><i class="fa fa-envelope"></i> Contact Agent</button>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

<!-- Modal for messages -->
<div id="messageModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modalMessage"></p>
  </div>
</div>
{% endblock %}