{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block banner %}
    <div class="banner-container">
        <div class="banner-content">
            <img src="{% static 'images/banner-elysium.webp' %}" alt="Banner Image" class="banner-image">
            {% if user.is_authenticated %}
                <div class="welcome-box">
                    <p>Welcome back, {{ user.username }}!</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block home_text %}
<div class="page-specific-text">
    <h2>Discover Your Ideal Property with Us</h2>
    <p>Whether you're seeking a comfortable rental, a dream home for sale, or a perfect student accommodation, Elysium Real Estate offers an extensive selection of properties tailored to your needs. From modern apartments and cozy studios to spacious family homes, our diverse listings cater to every lifestyle and budget.</p>
</div>
{% endblock %}

{% block content %}
<main>
  <div class="search-container home-search">
    <h2>Find your dream home</h2>
    <h3>Search using 'town name' or 'location'</h3>
    <form id="home-search-form">
      <div class="search-bar">
        <input type="text" name="search" id="home-search-input" placeholder="Enter location" aria-label="Search for properties by location">
        <button type="button" id="rent-button" aria-label="Search properties for rent">Rent</button>
        <button type="button" id="buy-button" aria-label="Search properties for sale">Buy</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}

{% block modal_messages %}
<div id="messageModal" class="modal" role="dialog" aria-labelledby="messageModalHeading" aria-describedby="modalMessage">
    <div class="modal-content">
        <span class="close" aria-label="Close">&times;</span>
        <p id="modalMessage"></p>
    </div>
</div>
{% endblock %}
