{% extends "base.html" %}

{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block banner %}
<!-- No banner for property detail page -->
{% endblock %}

{% block content %}
<div class="image-wrapper">
    {% if post.featured_image %}
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="property-guides-image">
    {% else %}
        <p>No Image Available</p>
    {% endif %}
</div>

<div class="property-guides-detail">
    <a href="{% url 'property_guides_list' %}" class="property-guide-btn" aria-label="Back to Property Guides List">Back to Property Guides List</a>

    <div class="guide-content content-box">
        <button type="button" class="collapsible">{{ post.title | safe }}</button>
        <div class="content">
            {{ post.content|safe }}
            <p>Posted on: {{ post.created_on }}</p>
            <p>Updated on: {{ post.updated_on }}</p>
            <button type="button" class="close-collapsible"><i class="fa-solid fa-angle-up"></i></button>
        </div>
    </div>

    <div class="image-container">
        {% for image in post.additional_images.all %}
            <img src="{{ image.image.url }}" alt="Additional image for {{ post.title }}" class="property-guides-image">
        {% endfor %}
    </div>
</div>
{% endblock %}
