{% extends "base.html" %}

{% block title %}Edit Testimonial{% endblock %}

{% block content %}
<div id="edit-testimonial" class="container">
    <h1>Edit Testimonial</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.name != 'body' %}
                    {{ field.label_tag }}
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" aria-label="Save changes to testimonial">Save</button>
    </form>
</div>
{% endblock %}
