{% extends "base.html" %}

{% block title %}Testimonials List{% endblock %}

{% block content %}
<h2 class="real-estate-title">Testimonials</h2>
<ul>
    {% for testimonial in testimonials %}
        <li>
            <a href="{% url 'testimonials_detail' testimonial.id %}" aria-label="View testimonial {{ testimonial.id }}">{{ testimonial.body|truncatewords:10 }}</a>
            <p>{{ testimonial.body }}</p>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'add_testimonial' %}" aria-label="Add a new testimonial">Add Testimonial</a>
{% endblock %}
