/* Default margin and padding for the header, h1, and ul */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Theming */
:root {
  --white: #f9f9f9;
  --black: #36383F;
  --gray: #85888C;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main header style */
h1 {
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: none;
}

/* Logo container */
.logo-container {
  display: flex;
  align-items: center;
}

/* CSS for logo */
.logo {
  display: block;
  color: var(--white);
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.fa-house-chimney {
  color: #000433;
}

.menu li:hover > .dropdown-menu,
.menu li:focus-within > .dropdown-menu {
  display: flex;
}

.menu li {
  position: relative;
  padding-bottom: 0px;
}

.menu-divider {
  border: none;
  border-left: 1px solid #ccc;
  height: 24px;
  margin: 3px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000433;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 101;
  width: 100vw;
  justify-content: flex-start;
  padding: 10px 0;
  list-style-type: none;
  border-radius: 0;
}

.menu > li:hover .dropdown-menu,
.menu > li:focus-within .dropdown-menu,
.menu > li.active .dropdown-menu {
  display: flex;
  margin-top: -1px;
  border-radius: 0;
}

/* Main navigation links */
.header .nav .menu li a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Dropdown menu links */
.header .nav .menu .dropdown-menu li a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Adjust the appearance of the dropdown items */
.dropdown-menu li {
  width: auto;
  margin: 0 10px;
}

.dropdown-menu li a {
  padding: 5px 10px;
  color: #fff;
  background-color: transparent;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #222B93;
}

/* Main styling */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.welcome-box {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.welcome-box p {
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-bar input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin: 0;
  box-sizing: border-box;
}

.search-bar button,
#rent-button,
#buy-button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  background-color: #4ED6C8;
  color: #000433;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.rent-button,
.buy-button {
  flex: 1;
  padding: 5px 0;
  background-color: #ffffff;
  color: #000433;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #27366d;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
}

.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button i {
  margin-left: 5px;
  vertical-align: middle;
}

/* Style for the filters container */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #000433;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #000;
}

.filters-container select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.filters-container .filter-group,
.filters-container .checkbox-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filters-container .filter-group > label,
.filters-container .checkbox-group > label {
  flex: 1;
  margin-right: 10px;
}

.filters-container .filter-group > div,
.filters-container .checkbox-group > div {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-container .filter-group > div > select,
.filters-container .checkbox-group > div > select {
  width: 48%;
}

.filters-container .filter-group {
  display: flex;
  align-items: center;
}

.filters-container .filter-group > label {
  margin-right: -40px;
  margin-left: 5px;
  white-space: nowrap;
}

.filters-container .filter-group > div {
  display: flex;
  gap: 10px;
}

.filters-container .filter-group > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-container .filter-group > div::before {
  content: "";
  margin-right: 5px;
}

.filters-container label,
.filters-container select,
.filters-container input {
  color: #000;
  font-weight: bold;
}

.filters-container > * {
  width: 100%;
  margin-bottom: 10px;
}

.property-type,
.bedrooms,
.price,
.bathrooms,
.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Styles for the rent, sale, student, and land pages */
main .property-list .property-box .property-price {
  font-weight: bold;
  color: #000433;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  margin-left: 15px;
}

/* Styles for the details page without margin-left */
.property-detail .property-info .property-price {
  font-weight: bold;
  color: #000433;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  margin-left: 0;
}

/* Title styles for all pages */
.property-box .property-description h2 a,
.property-detail .property-info h2 a {
    color: #000433;
    font-weight: bold;
    text-decoration: none;
}

.property-box .property-description h2 a:hover,
.property-detail .property-info h2 a:hover {
    color: #007BFF;
    text-decoration: underline;
}

.filters-container .checkbox-group {
  flex-direction: row;
  font-size: 14px;
}

.filters-container .checkbox-group label {
  flex: none;
  margin-right: 10px;
  margin-left: 10px;
}

.filters-container .checkbox-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.filters-container label {
  flex: 1;
  margin-right: 10px;
  color: white;
}

.property-type select,
.bedrooms select,
.price select,
.bathrooms select,
.filters-container input[type="number"] {
  flex: 2;
  margin-bottom: 5px;
}

.more-filters .dropdown-content {
  display: none;
}

.more-filters.active .dropdown-content {
  display: block;
}

.no-properties-found {
  text-align: center;
  color: red;
  font-weight: bold;
  border: 2px solid red;
  padding: 10px;
  margin-top: 20px;
}

/* Styling for modal messages */
.modal {
  display: none;
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;

}

/* Modal content styles */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-sizing: border-box;
}

#messageModal {
  z-index: 9999;
  margin-top: 150px;
}

/* Close button styles */
.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #005f6b;
}

/* Additional styles for available slots */
#available-slots-container {
  margin-top: 20px;
}

/* Additional styles for specific modals */
.confirm-btn,
.cancel-btn,
.save-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-btn {
  background-color: #f44336;
}

button[type="submit"] {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

/* Form styles */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-icon-container {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.user-icon-container .fa-user {
  color: #000433;
  font-size: 24px;
  cursor: pointer;
  margin-top: 10px;
}

#close-sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #5f5c4e;
}

/* Styling for My Account side menu */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: -20px;
  width: 300px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1005;
  padding-top: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
}

.sidebar-header {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar-username {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #ffffff;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  text-align: center;
}

.sidebar-menu li {
  padding: 10px 0;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 100%;
  font-size: 1.1em;
}

.sidebar-menu li a:hover {
  background-color: rgba(127, 229, 232, 0.5);
  color: #4ED6C8;
}

hr {
  margin: 20px 0;
}

/* Account settings styling */
.account-settings-container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.account-sidebar {
  width: 20%;
  padding: 20px;
}

.account-title {
  font-size: 1.5em;
}

.account-menu {
  list-style: none;
  padding: 0;
}

.account-menu-item {
  margin: 10px 0;
}

.account-menu-link {
  text-decoration: none;
  color: #000;
}

.account-content {
  width: 80%;
  padding: 20px;
}

.account-section {
  margin-bottom: 40px;
}

.account-section-title {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.account-form {
  display: flex;
  flex-direction: column;
}

.account-form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.account-form-label {
  flex-basis: 30%;
  margin-bottom: 5px;
}

.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="tel"],
.account-form input[type="password"] {
  flex-basis: 65%;
}

.account-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-button:hover {
  background-color: #0056b3;
}

.delete-account-button {
  background-color: #DC3545;
}

.delete-account-button:hover {
  background-color: #C82333;
}

/* Sidebar Menu */
.sidebar {
  width: 250px;
  background-color: #000433;
  padding: 20px;
  margin-right: 20px;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
}

.section h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.delete-account-form {
  margin-top: 20px;
}

.favorites-star {
  background-color: #ff4d4d;
  color: white;
}

.favorites-star:hover {
  background-color: #e60000;
}

.contact-agent {
  background-color: #4CAF50;
  color: white;
}

.contact-agent:hover {
  background-color: #45a049;
}

/* General styling for the favorites list */
.favorites-container {
  padding: 20px;
}

.favorites-list {
  list-style: none;
  padding: 0;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.favorite-item .favorite-details {
  display: flex;
  align-items: center;
}

.favorite-item a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  margin-right: 15px;
}

.favorite-item .unavailable {
  color: red;
  font-size: 0.9em;
}

.remove-favorite-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 0;
}

.remove-favorite-btn:hover {
  background-color: #d32f2f;
}

/* Styling for page specific text class */
.page-specific-text {
  margin: 5px auto;
  padding: 20px;
  max-width: 800px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 100px;
}

.page-specific-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
}

.page-specific-text p {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
  text-align: center;
}

/* Styling for before moving and useful resources sections */
.before-moving-section,
.useful-resources-section,
.housing-section {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  text-align: center;
  margin-top: 61px;
}

.before-moving-section {
  position: relative;
  background: url('/static/images/background-image.webp') no-repeat center center fixed;
  background-size: cover;
  padding: 50px 0;
  margin-top: 61px;
}

.before-moving-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
}

.box img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.box h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #003366;
}

.box p {
  margin: 10px 0;
  color: #999999;
}

.button-link {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #333;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for the link */
.button-link:hover {
  background-color: #add8e6;
  color: white;
}

.box .content {
  flex-grow: 1;
}

/* Mortgage-calculator sections */
.mortgage-calculator-section {
  padding: 40px;
  text-align: center;
}

.mortgage-calculator-section h1 {
  font-size: 2.5em;
  color: #003366;
}

.mortgage-calculator-section p {
  font-size: 1.2em;
  color: #666666;
  margin-bottom: 5px;
  margin-top: 5px
}

.mortgage-calculator-section button {
  padding: 10px 20px;
  font-size: 1em;
  color: #2c3e50;
  background-color: #e0f7fa;
  border: 2px solid #2980b9;
  border-radius: 5px;
  cursor: pointer;
}

.mortgage-calculator-section button:hover {
  background-color: #b3e5fc;
}

/* Blog list page */
#blog-list .blog-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

comment-body-label {
  display: none;
}

#blog-list .blog-box {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#blog-list .blog-box:hover {
  transform: translateY(-5px);
}

#blog-list .blog-box a {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

#blog-list .blog-box p {
  margin: 0;
  color: #666;
  flex-grow: 1;
}

/* Blog detail & faq detail page */
#blog-detail,
#faq-detail {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

#blog-detail .post-header img,
#blog-detail .image-container img,
#faq-detail .post-header img,
#faq-detail .image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

#blog-detail .post-content,
#faq-detail .post-content {
  margin-bottom: 20px;
}

#blog-detail .post-meta,
#faq-detail .post-meta {
  margin-bottom: 20px;
  font-style: italic;
  color: #555;
}

#blog-detail .comments,
#faq-detail .comments {
  margin-bottom: 20px;
  width: 100%;
}

#blog-detail .comments h2,
#faq-detail .comments h2 {
  margin-bottom: 10px;
}

#blog-detail #comments-list,
#faq-detail #comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

#blog-detail #comments-list li,
#faq-detail #comments-list li {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

#blog-detail #comments-list li p,
#faq-detail #comments-list li p {
  margin: 5px 0;
}

#blog-detail #comments-list li .comment-author,
#faq-detail #comments-list li .comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

#blog-detail #comments-list li .comment-body,
#faq-detail #comments-list li .comment-body {
  margin-bottom: 10px;
}

#blog-detail .edit-comment,
#blog-detail .delete-comment,
#faq-detail .edit-comment,
#faq-detail .delete-comment {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  color: #007bff;
  border-radius: 5px;
  align-self: flex-start;
}

#blog-detail .edit-comment:hover,
#blog-detail .delete-comment:hover,
#faq-detail .edit-comment:hover,
#faq-detail .delete-comment:hover {
  background-color: #007bff;
  color: #fff;
}

#blog-detail .comment-form,
#faq-detail .comment-form {
  margin-bottom: 20px;
}

#blog-detail .comment-form h2,
#faq-detail .comment-form h2 {
  margin-bottom: 10px;
}

#blog-detail .comment-form form,
#faq-detail .comment-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#blog-detail .comment-form textarea,
#faq-detail .comment-form textarea {
  resize: vertical;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#blog-detail .comment-form button,
#faq-detail .comment-form button {
  align-self: flex-start;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#blog-detail .comment-form button:hover,
#faq-detail .comment-form button:hover {
  background-color: #218838;
}

#blog-detail .back-to-list,
#faq-detail .back-to-list {
  display: inline-block;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

#blog-detail .back-to-list:hover,
#faq-detail .back-to-list:hover {
  background-color: #0056b3;
}

/* Homelessness advice list page */
#homelessness-advice-list .advice-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

#homelessness-advice-list .advice-box {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#homelessness-advice-list .advice-box:hover {
  transform: translateY(-5px);
}

#homelessness-advice-list .advice-box a {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

#homelessness-advice-list .advice-box p {
  margin: 0;
  color: #666;
  flex-grow: 1;
}

/* FAQ list page */
#faq-list .faq-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

#faq-list .faq-box {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#faq-list .faq-box:hover {
  transform: translateY(-5px);
}

#faq-list .faq-box a {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

#faq-list .faq-box p {
  margin: 0;
  color: #666;
  flex-grow: 1;
}

/* General styles for all <a> tags in the specified sections */
.container a {
  font-weight: bold;
  color: #000433;
  text-decoration: none;
  font-size: 1.2em;
}

.container a:hover {
  color: #007BFF;
  text-decoration: underline;
}

/* property guides */
.guide-category {
  border: 1px solid #ccc;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('{{ post.featured_image.url }}');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.property-guide-btn {
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.property-guide-btn:hover {
  background-color: #0056b3;
}

.real-estate-title {
  background-color: #000433;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.guide-category h2 + hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

.guide-category h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #27366d;
}

.guide-category ul {
  list-style-type: none;
  padding-left: 0;
}

.property-info h2 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2.0em;
}

.property-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property-info {
  text-align: left;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.property-info h1 {
  font-weight: bold;
  margin-top: 0;
  text-align: left;
  margin-left: 0;
}

.property-info p {
  margin: 5px 0;
}

.property-info .property-price,
.property-info .property-location {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.hidden-labels .feature-item::before {
  content: none;
}

.property-info .property-price {
  color: #4682B4;;
}

.property-info .property-location {
  color: #333;
}

.property-info hr {
  margin: 10px 0;
}

.property-features,
.additional-features {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  font-size: 0.8em;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.property-detail .feature-item,
.property-detail .feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  font-size: 1.2em;
  color: #333;
}

.property-detail .feature-item i,
.property-detail .feature-item i {
  font-size: 1.4em;
  color: #333;
  margin-right: 5px;
}

.additional-features hr {
  width: 100%;
  margin-top: 20px;
}

.property-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.property-actions button {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.property-actions button i {
  font-size: 1.2em;
}

.property-guides-detail,
.homelessness-advice-detail {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: -260px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 68px;
}

.property-guides-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.guide-content {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.guide-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.guide-content ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.guide-content p {
  margin-bottom: 10px;
}

.guide-content font {
  color: inherit;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 10px 0;
}

/* Collapsible content styles */
.collapsible {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.collapsible.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  border-radius: 5px;
}

.close-collapsible {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  border: 2px solid #444;
  border-radius: 5px;
}

.close-collapsible:hover {
  background-color: #ccc;
}

/* Thumbnail carousel styles */
.thumbnail-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  background-color: #f0f0f0;
}

.thumbnail {
  flex: 0 0 auto;
  width: 150px;
  margin-right: 10px;
  background-color: #ccc;
  text-align: center;
  padding: 10px;
}

.thumbnail-item {
  width: 80px;
  height: 48px;
  margin-right: 10px;
}

.thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail-item img.active {
  border: 2px solid #000;
}

.image-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.image-container img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

/* Pagination styles */
.pagination-section {
  text-align: center;
  margin: 20px 0;
}

.pagination-controls {
  display: inline-block;
}

.page-link {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
}

.current-page,
.pagination-section .current {
  font-weight: bold;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #f0f0f0;
  display: inline-block;
}

/* Mortgage calculation styling */
.mortgage-calculator-section {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.mortgage-calculator-steps .step {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 20px 0;
}

.mortgage-calculator-steps .step.active {
  display: block;
}

.mortgage-calculator-steps input[type="number"],
.mortgage-calculator-steps input[type="range"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.mortgage-calculator-steps button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mortgage-calculator-steps button:hover {
  background-color: #0056b3;
}

.mortgage-calculator-steps #termValue {
  display: block;
  margin-top: 10px;
}

.mortgage-calculator-steps .result {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 20px 0;
}

.mortgage-calculator-steps .result.active {
  display: block;
}

/* Pending Viewings Page */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th, td {
  padding: 0.5em;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.hide-column {
  display: none;
}

/* Footer styles */
.footer-menu {
  background-color: #000433;
  padding: 20px;
  text-align: center;
}

.footer-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-menu ul li {
  margin: 10px;
}

.footer-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.footer-menu ul li a:hover {
  text-decoration: underline;
}

/* Footer including copyright text */
footer {
  background-color: #000433;
  bottom: 0;
}

footer p {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

/* Footer links */
.footer-menu ul li a:hover {
  text-decoration: underline;
}

/* Footer including social media links */
#social-media {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-media li {
  font-size: 140%;
  padding: 5px;
  color: #ffffff;
}

@media (max-width: 500px) {
  .thumbnail-container {
    overflow-x: scroll;
  }

  .modal-content {
    width: 100%;
    margin: 5% auto;
  }

  .close {
    font-size: 20px;
    top: 5px;
    right: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="time"],
  textarea {
    padding: 8px;
  }

  button {
    padding: 8px 16px;
  }

  textarea {
    min-height: 80px;
  }
}

/* Media Query for screen sizes 650px and below */
@media screen and (max-width: 650px) {
  .before-moving-section,
  .useful-resources-section,
  .housing-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .before-moving-section::after,
  .useful-resources-section::after,
  .housing-section::after {
    content: '';
    display: block;
    width: 80%;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }

  .boxes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .box {
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .box img,
  .box h3 {
    display: none;
  }

  .box p {
    font-size: 0.9em;
    margin: 0;
    display: block;
    text-align: left;
    padding-right: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box button {
    font-size: 0.9em;
    padding: 8px 15px;
    width: auto;
    box-sizing: border-box;
    align-self: center;
    flex: 1;
  }

  .box button {
    flex: none;
    width: auto;
    display: inline-block;
  }

  h2 {
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
}

@media (max-width: 670px) {
  .account-settings-container {
    flex-direction: column;
    align-items: center;
  }

  .account-sidebar {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .account-title {
    margin-bottom: 20px;
  }

  .account-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .account-menu-item {
    margin: 5px 0;
  }

  .account-content {
    width: 100%;
    padding: 10px;
  }

  .account-form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .account-form-label,
  .account-form input[type="text"],
  .account-form input[type="email"],
  .account-form input[type="tel"],
  .account-form input[type="password"] {
    width: 100%;
  }

  .account-form-label {
    margin-bottom: 10px;
  }

  .delete-confirmation {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .delete-confirmation .account-form-label {
    margin-right: 10px;
  }
  
  .delete-confirmation input[type="checkbox"] {
    margin-right: 40px;
    margin-left: 120px;
    margin-top: -30px;
  }
}

/* Media query: Foldable phones and smaller screen sizes - landscape and portrait (693px) */
@media (max-width: 693px) {
  header.header {
    height: 70px;
  }

  header .hamb {
    top: -75px;
    color: #000433;
  }

  .hamb-line {
    top: 15px;
  }

  .header .logo-container h1 {
    font-size: 25px;
    margin-top: 15px;
  }

  .fa-house-chimney {
    margin-top: 10px;
  }

  .header .logo-container i {
    font-size: 15px;
    color: #000433;
  }

  .nav {
    top: 49px;
  }

  .home-search #home-search-input {
    display: none;
  }

  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
  }

  .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }

  .search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    line-height: 1;
    margin-left: -1px;
    height: 100%;
  }

  .banner-container {
    height: 250px;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 60px;
  }

  /* Banner Image Styles */
  .banner-image {
    width: 100%;
    display: block;
    margin-top: -4px;
    object-fit: cover;
    object-position: center;
    height: 250px;
  }

  .filters-container {
    display: none;
  }

  /* Search Container Styles */
  .search-container {
    width: 90%;
    padding: 10px;
    height: 105px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -175px;
  }

  .search-container.rent-search h2,
  .search-container.buy-search h2,
  .search-container.student-search h2 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
  }

  .search-container.rent-search .search-bar button,
  .search-container.buy-search .search-bar button,
  .search-container.student-search .search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    line-height: 1;
    margin-left: -1px;
    height: 70px;
  }

  .search-container.rent-search .search-bar input[type="text"],
  .search-container.buy-search .search-bar input[type="text"],
  .search-container.student-search .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 10px;
    margin-top: -15px;
  }

  .search-container h3 {
    display: none;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
  }

  .home-search h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 120px;
    color: black;
  }

  #home-search-form {
    width: 100%;
    margin-top: 120px;
  }

  .home-search .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .home-search #rent-button,
  .home-search #buy-button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 48%;
    margin: 1%;
    margin-top: -235px;
    height: 35px;
  }

  #home-search-input {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 50%);
    margin: 0;
  }

  #rent-button:hover,
  #buy-button:hover {
    background-color: #0056b3;
  }

  .filters-container {
    flex-direction: column;
    position: relative;
    margin-top: 70px;
  }

  .filters-container > * {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
  }

  #toggle-filters {
    display: none;
  }
}

@media (max-width: 740px) {
  .welcome-box {
    display: none;
  }

  #comments-list {
    max-width: 100%;
  }

  #comments-list li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: 694px) {
  .banner-image {
    width: 100%;
    display: block;
    margin-top: -4px;
  }

  .banner-container {
    width: 100%;
    margin-top: 70px;
    height: auto;
  }

  .home-search h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 105px;
    margin: 0;
    color: black;
    text-align: center;
    font-family: "Inconsolata", monospace;
  }

  main .search-container h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 20px;
    margin: 0;
    color: white;
    text-align: center;
    font-family: "Inconsolata", monospace;
  }

  .search-container h3 {
    margin: 0;
    margin-bottom: -10px;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    color: white;
  }

  .search-container {
    background-color: #000433;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 175px;
    width: 50%;
    margin-top: -75px;
    z-index: 1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
  }

  .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    height: 45px;
  }

  .search-bar button {
    background-color: #4ED6C8;
    color: #000433;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    cursor: pointer;
    margin-left: 0;
    height: 47px;
  }

  .search-bar button i {
    font-size: 16px;
  }

  #toggle-filters {
    width: auto;
    max-width: 150px;
    padding: 2px 16px;
    font-size: 14px;
    text-align: center;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    margin-top: -15px;
  }

  #toggle-filters:hover {
    background-color: #005f6b;
  }

  #toggle-filters:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 132, 186, 0.3);
  }

  .favorites-container {
    max-width: 800px;
    margin: 0 auto;
  }

  .favorite-item {
    padding: 15px;
  }

  .remove-favorite-btn {
    padding: 10px 15px;
  }

  .btn-signup {
    min-width: 150px;
    padding: 10px 20px;
  }

  .btn-signup:hover {
    background-color: #0056b3;
  }
}

@media (max-height: 800px) {
  .nav {
      max-height: 100vh;
      overflow-y: auto;
      min-width: 260px;
  }

  .nav .menu {
      max-height: calc(100vh - 60px);
      overflow-y: auto;
  }

  .nav .menu::-webkit-scrollbar {
      display: none;
  }

  .nav .menu {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  .sidebar {
    max-height: 100vh;
    overflow-y: auto;
  }

  .sidebar-menu {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
  }

  .sidebar-menu::-webkit-scrollbar {
    display: none;
  }

  .sidebar-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .favorites-container {
    padding: 10px;
  }

  .favorite-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .favorite-item .favorite-details {
    margin-bottom: 10px;
  }

  .remove-favorite-btn {
    align-self: flex-end;
  }
}

@media screen and (max-width: 830px) {
  table thead {
      display: none;
  }

  table tbody, table tr, table td {
      display: block;
      width: 100%;
  }

  table tr {
      margin-bottom: 1em;
  }

  table td {
      text-align: right;
      padding-left: 50%;
      position: relative;
  }

  table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 45%;
      padding-left: 0.5em;
      font-weight: bold;
      text-align: left;
  }

  .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .update-btn, .delete-btn {
      display: inline-block;
      margin: 0;
  }

  .thumbnail-item img {
    width: 150px;
  }
}

/* Media query: Tablets and other devices */
@media (max-width: 903px) {
  .logo-container {
    justify-content: center;
    color: #000433;
  }

  .logo-container h1 {
    margin: 7px 5px 0 0;
  }

  .logo-container i {
    color: #000433;
    margin: -2px 10px 0 0;
  }

  ul {
    list-style-type: none;
  }

  .header {
    background-color: #F4F7FA;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
  }

  .logo {
    display: inline-block;
    color: var(--white);
    font-size: 22px;
    margin: 10px 0 0 10px;
  }

  .my-account-btn-container {
    display: none;
  }

  .user-icon-container {
    display: block;
  }

  .nav {
    width: 50vh;
    height: 85vh;
    position: fixed;
    background-color: #000433;
    overflow: hidden;
    top: 69px;
  }

  .menu a {
    display: block;
    padding: 15px;
    color: #F4F7FA;
    font-size: 18px;
    font-weight: bold;
  }

  .menu a:hover {
    color: #007BFF;
    text-decoration: underline;
  }

  .nav {
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  .menu-divider {
    border: none;
    border-top: 1px solid #C5C2C2;
    width: 90%;
  }

  .hamb {
    cursor: pointer;
    padding: 20px 20px;
    z-index: 103;
    align-items: center;
    position: relative;
    display: inline-block;
    top: -48px;
    width: auto;
    color: #000433;
  }

  .hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    color: #000433;
  }

  .hamb-line::before,
  .hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .hamb .hamb-line::before {
    top: 5px;
  }

  .hamb .hamb-line::after {
    top: -5px;
  }

  .side-menu {
    display: none;
  }

  .side-menu:checked ~ nav {
    max-height: 100vh;
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background: var(--white);
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  .dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .dropdown-menu {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    background-color: var(--black);
    border: 2px solid #ccc;
    z-index: 102;
    width: 100%;
  }

  .menu li:hover .dropdown-options,
  .menu li:hover .dropdown-menu {
    display: block;
    background-color: #000433;
    border-color: #000433;
  }

  .anchor {
    display: block;
    height: 57px;
    margin-top: -57px;
    visibility: hidden;
  }

  .property-list .property-features .feature-item,
  .property-list .additional-features .feature-item {
    font-size: 0.8em;
  }

  .property-list .property-features .feature-item i,
  .property-list .additional-features .feature-item i {
    font-size: 0.8em;
  }
}

/* Media query for tablets and other devices with a screen width over 904px */
@media (min-width: 904px) {
  .logo-container i {
    color: #ffffff;
    margin: -8px 10px 0 0;
  }

  .hamb-line {
    display: none;
  }

  .logo-container {
    justify-content: flex-start;
  }

  .my-account-btn-container {
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 101;
    display: block;
  }

  .user-icon-container {
    display: none;
  }

  .side-menu {
    display: none;
  }

  .header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F7FA;
    padding: 10px;
    height: 70px;
    z-index: 102;
  }

  .logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    width: auto;
    margin-right: auto;
  }

  .nav {
    flex-grow: 1;
    text-align: center;
    position: relative;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 37px;
    margin-left: 50px;
  }

  .menu > li {
    position: relative;
    margin: 5px;
  }

  .menu > li:nth-last-child(2) {
    margin-right: 5px;
  }

  .menu > li:last-child {
    margin-right: 30px;
  }

  .menu > li > a {
    padding: 10px 10px;
    display: block;
    color: #000433;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }

  .menu > li:hover .dropdown-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    left: 0;
    padding: 10px 0;
    position: fixed;
    top: 70px;
    transform: none;
  }

  .menu > li:hover > a {
    background-color: #000433;
    color: white
  }

  /* Dropdown menu styles */
  .dropdown-menu {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #000433;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 101;
    justify-content: flex-start;
    padding: 10px 0;
    list-style-type: none;
  }

  .dropdown-menu li {
    width: auto;
    margin: 0 10px;
  }

  .dropdown-menu li a {
    padding: 5px 10px;
    color: #fff;
    background-color: transparent;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
  }

  .dropdown-menu li a:hover {
    background-color: #555;
  }

  h1 {
    margin: 10px 0 2px 0;
    padding-top: 2px;
    text-align: left;
    padding-right: 5px;
    font-size: 55px;
  }

  nav {
    display: inline;
    position: relative;
    width: fit-content;
    padding: 5px;
    text-align: center;
    align-items: center;
    font-size: 16px;
  }

  .dropdown {
    position: relative;
  }

  a:hover {
    text-decoration: none;
  }

  .logo h1 {
    margin: 0;
    color: #000433;
  }

  .menu > li a:hover::after {
    width: 100%;
    opacity: 1;
  }

  .nav .menu > li a:last-child {
    margin-right: 0;
  }

  .nav .menu > li a:hover {
    background-color: var(--black);
    color: #ffffff;
  }

  .menu > a:hover {
    background-color: #7E7B78;
    border-radius: 5px;
  }

  .my-account-btn-container {
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 101;
    display: block;
  }

  .my-account-btn-container .nav-link {
    color: #000433;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
  }

  .menu:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent;
  }

  .menu > li:hover > .dropdown-menu {
    margin-top: -4px;
  }

  /* Property Guides List */
  .guide-categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .guide-category {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }

  .guide-category h2 {
    margin-top: 0;
  }

  .guide-category ul {
    list-style-type: none;
    padding: 0;
  }

  .guide-category li {
    margin-bottom: 10px;
  }

  .guide-category li a {
    text-decoration: none;
    color: #007bff;
  }

  .guide-category li a:hover {
    text-decoration: underline;
  }

  #comments-list {
    max-width: 100%;
  }

  #comments-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Styles for screens 1005px and below */
@media (max-width: 1005px) {
  .property-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .property-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    margin-top: 25px;
  }

  .property-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .scrollable-images .image-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 175px;
  }

  .scrollable-images img {
    width: 100%;
    height: 175px;
    object-fit: cover;
  }

  .property-detail .property-price {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    margin-top: 10px;
  }

  .property-description {
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
  }

  .property-description h2 {
    margin: 0;
    font-size: 1.1em;
  }

  .property-description p {
    margin: 5px 0;
    font-size: 0.9em;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    font-weight: bold;
    color: #000433;
  }

  .property-buttons {
    width: 100%;
    display: flex;
    gap: 5px;
    padding-left: 0;
    box-sizing: border-box;
    position: relative;
    top: 10px;
    left: 0;
    margin-top: 10px;
  }

  .property-buttons form,
  .property-buttons button {
    flex: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .property-buttons button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Styles for screens above 1005px */
@media (min-width: 1006px) {
  .property-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .property-box {
    display: flex;
    flex-wrap: wrap;
    width: 1005px;
    height: 250px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
  }

  .property-image {
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .scrollable-images .image-container {
    display: flex;
    overflow-x: auto;
    width: 530px;
    height: 180px;
  }

  .scrollable-images img {
    width: 530px;
    height: 175px;
    object-fit: cover;
  }

  .property-detail .property-price {
    height: 75px;
    width: 530px;
    text-align: left;
    font-size: 1.2em;
    margin-top: 10px;
  }

  .property-description {
    width: 450px;
    height: 175px;
    padding-left: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 550px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
  }

  .property-description h2 {
    margin: 0;
  }

  .property-description p {
    margin: 5px 0;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
  }

  .property-buttons {
    width: 440px;
    height: 50px;
    display: flex;
    gap: 5px;
    padding-left: 0;
    box-sizing: border-box;
    position: absolute;
    top: 190px;
    left: 550px;
  }

  .property-buttons form,
  .property-buttons button {
    flex: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .property-buttons button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .property-list .property-features .feature-item,
  .property-list .additional-features .feature-item {
    font-size: 0.6em;
    color: #000433
  }

  .property-list .property-features .feature-item i,
  .property-list .additional-features .feature-item i {
    font-size: 0.7em;
  }

  #blog-list .blog-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #faq-list .faq-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #homelessness-advice-list .advice-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1202px) {
  .carousel-container {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    display: flex;
    margin-top: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: relative;
  }

  .large-image {
    width: 100%;
    height: auto;
    margin-right: 10px;
    flex: 0 0 100%;
  }

  .large-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .small-images {
    display: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000433;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 20px;
    height: 20px;
  }

  .carousel-control-prev {
    left: 10px;
    background-color: #000433;
    color: #ffffff;
    font-size: 24px;
    padding: 15px 25px;
  }

  .carousel-control-next {
    right: 10px;
    background-color: #000433;
    color: #ffffff;
    font-size: 24px;
    padding: 15px 25px;
  }

  .thumbnail-container {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  .thumbnail-item {
    flex: 0 0 auto;
    width: 80px;
    height: 50px;
    margin-right: 10px;
  }

  .thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

@media (min-width: 1203px) {
  .carousel-container {
    position: relative;
    width: 1170px;
    height: 435px;
    overflow: hidden;
    margin: 90px auto 0;
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }

  .large-image {
    width: 775px;
    height: 435px;
    margin-right: 10px;
  }

  .large-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .small-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 385px;
    height: 435px;
  }

  .small-image-item {
    width: 100%;
    height: 215px;
  }

  .small-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000433;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    height: 50px;
    width: 50px
  }

  .carousel-control-prev {
    left: 10px;
  }

  .carousel-control-next {
    right: 10px;
  }
}