{% extends 'base.html' %}
{% load static %}

{% block title %}Property for Rent{% endblock %}

{% block content %}
<main>
  <img src="{% static 'images/banner-elysium.webp' %}" alt="Elysium banner image">

  <div class="search-container">
    <h2>Property for rent</h2>
    <h3>Search using 'town name' or 'postcode'</h3>
    <form method="get">
      <div class="search-bar">
        <input type="text" name="search" placeholder="Enter location">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <button type="button" id="toggle-filters">Show Filters</button>
      <div class="filters-container" id="filters-container" style="display: none;">
        <label for="property-type">Property Type:</label>
        {{ form.property_type }}
        <label for="bedrooms-min">Bedrooms:</label>
        {{ form.bedrooms_min }}
        <label for="bedrooms-max">Bedrooms:</label>
        {{ form.bedrooms_max }}
        <label for="price-min">Price (£):</label>
        {{ form.price_min }}
        <label for="price-max">Price (£):</label>
        {{ form.price_max }}
        <label for="garden">Garden:</label>
        {{ form.garden }}
        <label for="parking">Parking:</label>
        {{ form.parking }}
        <label for="pets_allowed">Pets Allowed:</label>
        {{ form.pets_allowed }}
        <button type="submit" id="find-properties">Find Properties</button>
      </div>
    </form>
  </div>

  <!-- Save search -->
  <form method="post" action="{% url 'save_search' %}">
    {% csrf_token %}
    {{ save_search_form.as_p }}
    <button type="submit">Save Search</button>
  </form>

  <div class="property-list" data-app="real_estate">
    {% for property in properties %}
    <div class="property-box">
      <h2><a href="{% url 'property_detail' slug=property.slug %}">{{ property.title }}</a></h2>
      <div>{{ property.description|safe }}</div> <!-- Use safe filter for HTML content -->
      <p>Price: £{{ property.price }}</p>
      <p>Location: {{ property.location }}</p>
      <!-- Favorites Star Button -->
      <form method="post" action="{% url 'add_to_favorites' property.id %}">
        {% csrf_token %}
        <button type="submit" class="favorites-star" data-property-id="{{ property.id }}" data-is-favorite="{{ property.is_favorite }}" data-app="real_estate">
          {% if property.is_favorite %}
            <i class="fa-solid fa-star"></i> Remove from Favorites
          {% else %}
            <i class="fa-regular fa-star"></i> Add to Favorites
          {% endif %}
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
</main>

<!-- Modal for messages -->
<div id="messageModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modalMessage"></p>
  </div>
</div>

{% endblock %}