{% extends 'base.html' %}
{% load static %}

{% block title %}Property for Sale{% endblock %}

{% block banner %}
    {% if user.is_authenticated %}
        <div class="banner-container">
            <div class="banner-content">
                <img src="{% static 'images/banner-elysium.webp' %}" alt="Banner Image" class="banner-image">
                <div class="welcome-box">
                    <p>Welcome back, {{ user.username }}!</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sale_text %}
<div class="page-specific-text">
    <h2>Find Your Dream Home with Us</h2>
    <p>Explore a wide range of properties available for sale, from modern apartments to spacious family homes. Find the perfect property that suits your lifestyle and budget.</p>
</div>
{% endblock %}

{% block content %}
<main>
  <div class="search-container">
    <h2>Property for Sale</h2>
    <h3>Search using 'town name' or 'location'</h3>
    <form method="get">
      <div class="search-bar">
        <input type="text" name="search" placeholder="Enter location" value="{{ form.search.value|default_if_none:''|default:'' }}">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <button type="button" id="toggle-filters">Show Filters</button>
      <div class="filters-container" id="filters-container" style="display: none;">
        <label for="property-type">Property Type:</label>
        {{ form.property_type }}
        <label for="bedrooms-min">Bedrooms:</label>
        {{ form.bedrooms_min }}
        <label for="bedrooms-max">Bedrooms:</label>
        {{ form.bedrooms_max }}
        <label for="price-min">Price (£):</label>
        {{ form.price_min }}
        <label for="price-max">Price (£):</label>
        {{ form.price_max }}
        <label for="garden">Garden:</label>
        {{ form.garden }}
        <label for="parking">Parking:</label>
        {{ form.parking }}
        <label for="pets_allowed">Pets Allowed:</label>
        {{ form.pets_allowed }}
      </div>
    </form>
  </div>

  <!-- Save search -->
  <form method="post" action="{% url 'save_search' %}">
    {% csrf_token %}
    {{ save_search_form.as_p }}
    <button type="submit">Save Search</button>
  </form>

  <div class="property-list" data-app="real_estate">
    {% for property in properties %}
    <div class="property-box">
      <h2><a href="{% url 'property_detail' slug=property.slug %}">{{ property.title }}</a></h2>
      {% if property.property_image %}
          <img src="{{ property.property_image.url }}" alt="{{ property.title }}">
      {% endif %}
      <div>{{ property.description|safe }}</div> <!-- Use safe filter for HTML content -->
      <p>Price: £{{ property.price }}</p>
      <p>Location: {{ property.location }}</p>
      <!-- Favorites Star Button -->
      <form method="post" action="{% url 'add_to_favorites' property.id %}">
        {% csrf_token %}
        <button type="submit" class="favorites-star" data-property-id="{{ property.id }}" data-is-favorite="{{ property.is_favorite }}" data-app="real_estate">
          {% if property.is_favorite %}
            <i class="fa-solid fa-star"></i> Remove from Favorites
          {% else %}
            <i class="fa-regular fa-star"></i> Add to Favorites
          {% endif %}
        </button>
      </form>
      <!-- Message Button -->
      <form method="get" action="{% url 'real_estate_send_message' property.id %}">
        <button type="submit" class="message-icon">
          <i class="fa-solid fa-envelope"></i> Send Message
        </button>
      </form>
      <!-- Schedule Viewing Button with Calendar Icon -->
      <button type="button" class="open-modal" data-property-id="{{ property.id }}" data-action="scheduleViewing">
        <i class="fa-solid fa-calendar-alt"></i> Schedule a Viewing
      </button>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}