{% extends 'base.html' %}

{% block title %}{{ property.title }}{% endblock %}

{% block content %}
<main>
  <div class="property-details">
    <img src="{{ property.property_image.url }}" alt="{{ property.title }}">
    <div class="property-info">
      <h1>{{ property.title }}</h1>
      <p>{{ property.description }}</p>
      <p>Price: £{{ property.price }}</p>
      <p>Location: {{ property.location }}</p>
      <p>Bedrooms: {{ property.bedrooms }}</p>
      <p>Bathrooms: {{ property.bathrooms }}</p>
      <p>Furnished: {{ property.get_furnished_type_display }}</p>
      <p>Garden: {{ property.garden|yesno:"Yes,No" }}</p>
      <p>Parking: {{ property.parking|yesno:"Yes,No" }}</p>
      <p>Pets Allowed: {{ property.pets_allowed|yesno:"Yes,No" }}</p>
    </div>
    <div class="property-actions">
        <button data-property-id="{{ property.id }}" data-action="addToFavorites">Add to Favorites</button>
        <button data-property-id="{{ property.id }}" data-action="scheduleViewing">Schedule a Viewing</button>
        <button data-property-id="{{ property.id }}" data-action="contactAgent">Contact Agent</button>
    </div>
    <div class="property-images">
      {% for image in property.additional_images.all %}
      <img src="{{ image.image.url }}" alt="Additional image of {{ property.title }}">
      {% endfor %}
    </div>
    <div class="property-enquiry">
      <h2>Contact about this property</h2>
      <form method="post" action="{% url 'contact_property' property.id %}">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
