{% extends 'base.html' %}

{% block content %}
<h1>Update Viewing</h1>
<form method="post" id="update-viewing-form" action="{% url 'update_viewing' viewing_id=viewing.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" aria-label="Update Viewing">Update</button>
</form>

<!-- Modal -->
<div id="messageModal" style="display:none;">
    <div class="modal-content">
        <span class="close" aria-label="Close modal">&times;</span>
        <p id="modalMessage"></p>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div id="success-message" style="display: none;">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock %}
