{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div id="blog-detail" class="container">
    <h1>{{ post.title }}</h1>
    <div class="post-header">
        {% if post.featured_image %}
            <p>Image URL: {{ post.featured_image.url }}</p>
            <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
        {% else %}
            <p>No Image Available</p>
        {% endif %}
    </div>
    <div class="image-container">
        {% for image in post.additional_images.all %}
            <img src="{{ image.image.url }}" alt="Additional image for {{ post.title }}">
        {% endfor %}
    </div>
    <div class="post-meta">
        <p><strong>Author:</strong> {{ post.author }}</p>
        <p><strong>Published on:</strong> {{ post.created_on }}</p>
    </div>
    <div class="post-content">
        <p>{{ post.content }}</p>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <p><strong>{{ comment.author.username }}</strong> said:</p>
                    <p>{{ comment.body }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="comment-form">
        <h2>Leave a Comment</h2>
        <form id="commentForm" method="post" action=".">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" id="submitButton">Submit</button>
        </form>
    </div>
    <a href="{% url 'blog_list' %}" class="back-to-list">Back to Blog List</a>
</div>
{% endblock %}