{% extends "base.html" %}

{% block title %}Edit Comment{% endblock %}

{% block content %}
<div id="edit-comment" class="container">
    <h1>Edit Comment</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'body' %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% else %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" aria-label="Save Edited Comment">Save</button>
    </form>
</div>
{% endblock %}
