{% extends "base.html" %}

{% block title %}{{ homeless_post.title }}{% endblock %}

{% block content %}
<div id="homelessness-advice-detail" class="container">
    <h1>{{ homeless_post.title }}</h1>
    <div class="post-header">
        {% if homeless_post.featured_image %}
            <img src="{{ homeless_post.featured_image.url }}" alt="{{ homeless_post.title }}">
        {% else %}
            <p>No Image Available</p>
        {% endif %}
    </div>
    <div class="image-container">
        {% for image in homeless_post.additional_images.all %}
            <img src="{{ image.image.url }}" alt="Additional image for {{ homeless_post.title }}">
        {% endfor %}
    </div>
    <div class="post-meta">
        <p><strong>Author:</strong> {{ homeless_post.author }}</p>
        <p><strong>Published on:</strong> {{ homeless_post.created_on }}</p>
    </div>
    <div class="post-content">
        {{ homeless_post.content|safe }}
    </div>
    <a href="{% url 'homelessness_advice_list' %}" class="back-to-list" aria-label="Back to Homelessness Advice List">Back to Homelessness Advice List</a>
</div>
{% endblock %}
