{% extends "base.html" %}

{% block title %}Homelessness Advice List{% endblock %}

{% block content %}
<div id="homelessness-advice-list" class="container">
    <h2 class="real-estate-title">Homelessness Advice</h2>
    <div class="advice-container">
        {% for post in homeless_posts %}
            <div class="advice-box">
                <a href="{% url 'homelessness_advice_detail' post.slug %}">{{ post.title }}</a>
                <p>{{ post.excerpt }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
