<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Elysium Real Estate{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
    {% url 'account_login' as login_url %}
    {% url 'account_signup' as signup_url %}
    {% url 'account_logout' as logout_url %}
    <header class="header">
        <a href="{% url 'home' %}" class="logo">
            <div class="logo-container">
                <h1>Elysium</h1>
                <i class="fa-solid fa-house-chimney" style="color: #ffffff;"></i>
            </div>
        </a>
        <input class="side-menu" type="checkbox" id="side-menu">
        <label class="hamb" for="side-menu"><span class="hamb-line"><i class="fas fa-bars"></i></span></label>
        <nav class="nav">
            <ul class="menu">
                <li><a href="{% url 'home' %}" aria-label="Return to the homepage">Home</a></li>
                <li class="dropdown">
                    <a href="#" aria-label="View properties for sale">Buy</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'property_sale' %}">Property for Sale</a></li>
                        <li><a href="#">Land for Sale</a></li>
                        <li><a href="#">Request viewing</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" aria-label="View rental properties">Rent</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'property_rent' %}">Property to Rent</a></li>
                        <li><a href="{% url 'student_accommodation' %}">Student Accommodation</a></li>
                        <li><a href="#">Request viewing</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" aria-label="View useful resources and information">Resources</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'property_guides_list' %}">Property Guides</a></li>
                        <li><a href="{% url 'blog_list' %}">Blogs</a></li>
                        <li><a href="{% url 'homelessness_advice_list' %}">Homelessness Advice</a></li>
                        <li><a href="{% url 'testimonials_list' %}">Testimonials</a></li>
                        <li><a href="{% url 'faq_list' %}">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'home' %}#contact" aria-label="View our contact information">Contact</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="my-account-btn" href="#">My Account</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div id="my-account-sidebar" class="sidebar">
        <h2 class="sidebar-header">Elysium <i class="fa-solid fa-house-chimney" style="color: #5f5c4e;"></i></h2>
        <p class="sidebar-username">{{ user.username }}</p>
        <ul class="sidebar-menu">
            <li><a href="{% url 'view_favorites' %}"><i class="fa-solid fa-star" style="color: #5f5c4e;"></i> Saved Properties</a></li>
            <li><a href="{% url 'view_messages' %}"><i class="fa-regular fa-message"></i> Messages</a></li>
            <li><a href="{% url 'view_saved_searches' %}"><i class="fa-solid fa-magnifying-glass"></i> Saved Searches</a></li>
            <li><a href="{% url 'view_property_alerts' %}"><i class="fa-solid fa-bell"></i> Property Alerts</a></li>
        </ul>
        <hr>
        <ul class="sidebar-menu">
            <li><a href="{% url 'account_settings' %}"><i class="fa-solid fa-gears"></i> Account Settings</a></li>
            <li><a href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a></li>
        </ul>
    </div>

    {% block content %}{% endblock %}

    <footer>
        <ul id="social-media">
            <li><a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a></li>
            <li><a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter-square" style="color: #ffffff;"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our YouTube page (opens in a new tab)"><i class="fa-brands fa-youtube-square" style="color: #ffffff;"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a></li>
        </ul>
        <p>&copy; 2024 Elysium Ltd. All Rights Reserved. | Designed by David Hitchen Ltd<br>
        Address: Elysium Real Estate: 1 Elysium Pl, London W1E LS | Tel: 02045135208 | Email: info@elysium.co.uk
        </p>
    </footer>

    <!-- Modal messages -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-message"></p>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/3b20d96fa9.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
