/* Default margin and padding for the header, h1, and ul */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Theming */
:root {
  --white: #f9f9f9;
  --black: #36383F;
  --gray: #85888C;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main header style */
h1 {
  font-family: "Inconsolata", monospace;
}

/* Logo container */
.logo-container {
  display: flex;
  align-items: center;
}

/* CSS for logo */
.logo {
  display: block;
  color: var(--white);
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.menu li:hover > .dropdown-menu,
.menu li:focus-within > .dropdown-menu {
    display: flex;
}

.menu li {
    position: relative;
    padding-bottom: -2px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 101;
    width: 100vw;
    justify-content: flex-start;
    padding: 10px 0;
    list-style-type: none;
}

.menu > li:hover .dropdown-menu,
.menu > li:focus-within .dropdown-menu,
.menu > li.active .dropdown-menu {
    display: flex;
}

/* Adjust the appearance of the dropdown items */
.dropdown-menu li {
    width: auto;
    margin: 0 10px;
}

.dropdown-menu li a {
    padding: 5px 10px;
    color: #fff;
    background-color: transparent;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #555;
}

.banner-container {
  width: 100%;
  margin-top: 70px;
}

.banner-image {
  width: 100%;
  display: block;
  margin-top: -4px;
}

/* Main styling */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.welcome-box {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-bar input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin: 0;
  box-sizing: border-box;
}

.search-bar button, 
#rent-button, 
#buy-button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.rent-button, .buy-button {
  flex: 1;
  padding: 5px 0;
  background-color: #ffffff;
  color: #4287f5;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #27366d;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
}

.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button i {
  margin-left: 5px;
  vertical-align: middle;
}

/* Styles for filters container */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #000;
}

.filters-container label,
.filters-container select,
.filters-container input {
  color: #000;
}

.filters-container > * {
  width: 100%;
  margin-bottom: 10px;
}

.property-type label,
.bedrooms label,
.price label,
.home-type label,
.buying-scheme label,
.retirement-type label,
.more-filters label {
  display: block;
}

.property-type select,
.bedrooms select,
.price select,
.home-type select,
.buying-scheme select,
.retirement-type select,
.more-filters select {
  width: 100%;
  margin-bottom: 5px;
}

.more-filters .dropdown-content {
  display: none;
}

.more-filters.active .dropdown-content {
  display: block;
}

.no-properties-found {
  text-align: center;
  color: red;
  font-weight: bold;
  border: 2px solid red;
  padding: 10px;
  margin-top: 20px;
}

/* Styling for modal messages */
.modal {
  display: none;
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#messageModal {
  z-index: 9999;
  margin-top: 150px;
}

.user-icon-container {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.user-icon-container .fa-user {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #5f5c4e;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styling for My Account side menu */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: -20px;
  width: 300px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1005;
  padding-top: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
}

.sidebar-header {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar-username {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  text-align: center;
}

.sidebar-menu li {
  padding: 10px 0;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  width: 100%;
  font-size: 1.1em;
}

.sidebar-menu li a:hover {
  background-color: #e9ecef;
}

hr {
  margin: 20px 0;
}

/* Account settings styling */
.account-settings-container {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 250px;
  background-color: #f8f8f8;
  padding: 20px;
  margin-right: 20px;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #007bff;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.delete-account-form {
  margin-top: 20px;
}

.delete-account-button {
  background-color: #dc3545;
}

.delete-account-button:hover {
  background-color: #c82333;
}

.favorites-star {
  background-color: #ff4d4d;
  color: white;
}

.favorites-star:hover {
  background-color: #e60000;
}

.contact-agent {
  background-color: #4CAF50;
  color: white;
}

.contact-agent:hover {
  background-color: #45a049;
}

/* Styling for page specific text class */
.page-specific-text {
  margin: 5px auto;
  padding: 20px;
  max-width: 800px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

.page-specific-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
}

.page-specific-text p {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
  text-align: center;
}

/* Styling for before moving and useful resources sections */
.before-moving-section, 
.useful-resources-section,
.housing-section {
  padding: 20px;
  text-align: center;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.box h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #003366;
}

.box p {
  margin: 10px 0;
  color: #999999;
}

.box button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #ADD8E6;
  background-color: #fff;
  color: #003366;
  font-weight: bold;
  width: 100%;
  max-width: 250px;
  margin: 10px auto 0;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-top: auto;
}

.box button:hover {
  background-color: #f0f0f0;
}

.box .content {
  flex-grow: 1;
}

/* Valuation and mortgage-calculator sections */
.valuation-section, .mortgage-calculator-section {
  padding: 40px;
  text-align: center;
}

.valuation-section h1, .mortgage-calculator-section h1 {
  font-size: 2.5em;
  color: #003366;
}

.valuation-section p, .mortgage-calculator-section p {
  font-size: 1.2em;
  color: #666666;
  margin-bottom: 20px;
}

.valuation-section button, .mortgage-calculator-section button {
  padding: 10px 20px;
  font-size: 1em;
  color: #2c3e50;
  background-color: #e0f7fa;
  border: 2px solid #2980b9;
  border-radius: 5px;
  cursor: pointer;
}

.valuation-section button:hover, .mortgage-calculator-section button:hover {
  background-color: #b3e5fc;
}

/* property guides */
.guide-category {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.guide-category h2 {
  margin-top: 0;
  color: #27366d;
}

.property-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property-info {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.property-info h1 {
  font-weight: bold;
  margin-top: 0;
  text-align: left;
  margin-left: 0; 
}

.property-info p {
  margin: 5px 0;
}

.property-info .property-price, 
.property-info .property-location {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left; 
}

.property-info .property-price {
  color: blue;
}

.property-info .property-location {
  color: #333;
}

.property-info hr {
  margin: 10px 0;
}

.property-features,
.additional-features {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.property-detail .feature-item,
.property-detail  .feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  font-size: 1.2em;
  color: #333;
}

.property-detail  .feature-item i,
.property-detail .feature-item i {
  font-size: 1.5em;
  color: #333;
  margin-right: 5px;
}

.additional-features hr {
  width: 100%;
  margin-top: 20px;
}

.property-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.property-actions button {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.property-actions button i {
  font-size: 1.2em;
}

/* Thumbnail carousel styles */
.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumbnail-item {
  width: 100px;
  height: 60px;
  margin-right: 10px;
}

.thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail-item img.active {
  border: 2px solid #000;
}

.image-container {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}

.image-container img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

/* Pagination styles */
.pagination-section {
  text-align: center;
  margin: 20px 0;
}

.pagination-controls {
  display: inline-block;
}

.page-link {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
}

.current-page, .pagination-section .current {
  font-weight: bold;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #f0f0f0;
  display: inline-block;
}

/* Footer styles */
.footer-menu {
  background-color: #36383F;
  padding: 20px;
  text-align: center;
}

.footer-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-menu ul li {
  margin: 10px;
}

.footer-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.footer-menu ul li a:hover {
  text-decoration: underline;
}

/* Footer including copyright text */
footer {
  background-color: #36383F;
  bottom: 0;
}

footer p {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

/* Footer including social media links */
#social-media {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-media li {
  font-size: 140%;
  padding: 5px;
  color: #ffffff;
}

/* Media Query for screen sizes 650px and below */
@media screen and (max-width: 650px) {
  .before-moving-section, 
  .useful-resources-section,
  .housing-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .before-moving-section::after,
  .useful-resources-section::after,
  .housing-section::after {
    content: '';
    display: block;
    width: 80%;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }

  .boxes-container {
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .box {
    padding: 15px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .box img,
  .box h3 {
    display: none;
  }

  .box p {
    font-size: 0.9em;
    margin: 0;
    display: block;
    text-align: left;
    padding-right: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box button {
    font-size: 0.9em;
    padding: 8px 15px;
    width: auto;
    box-sizing: border-box;
    align-self: center;
    flex: 1;
  }

  .box button {
    flex: none;
    width: auto;
    display: inline-block;
  }

  h2 {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 740px) {
  .welcome-box {
    display: none;
  }
}

/* Media query: Foldable phones and smaller screen sizes - landscape and portrait (693px) */
@media (max-width: 693px) {
  header.header {
    height: 70px;
  }

  .hamb-line {
    top: 15px;
  }

  .header .logo-container h1 {
    font-size: 25px;
    margin-top: 15px;
  }

  .fa-house-chimney {
    margin-top: 10px;
  }

  .header .logo-container i {
    font-size: 15px;
  }

  .nav {
    top: 49px;
  }

  .home-search #home-search-input {
    display: none;
  }

  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
  }

  .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }

  .search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    line-height: 1;
    margin-left: -1px;
    height: 100%;
  }

  .banner-container {
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 60px;
  }

  .banner-image {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 250px;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
  }

  .filters-container {
    display: none;
  }

  main .search-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 75px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    margin-top: 10px;
  }

  .search-container.rent-search h2,
  .search-container.buy-search h2,
  .search-container.student-search h2 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
  }

  .search-container.rent-search .search-bar button,
  .search-container.buy-search .search-bar button,
  .search-container.student-search .search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    line-height: 1;
    margin-left: -1px;
    height: 70px;
  }

  .search-container.rent-search .search-bar input[type="text"],
  .search-container.buy-search .search-bar input[type="text"],
  .search-container.student-search .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 10px;
    margin-top: -15px;
  }

  .search-container h3 {
    display: none;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
  }

  .home-search h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 120px;
    color: black;
  }

  #home-search-form {
    width: 100%;
    margin-top: 120px;
  }

  .home-search .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .home-search #rent-button,
  .home-search #buy-button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 48%;
    margin: 1%;
    margin-top: -235px;
    height: 35px;
  }

  #home-search-input {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 50%);
    margin: 0;
  }

  #rent-button:hover,
  #buy-button:hover {
    background-color: #0056b3;
  }

  .filters-container {
    flex-direction: column;
    position: relative;
    margin-top: 70px;
  }

  .filters-container > * {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
  }

  #toggle-filters {
    display: none;
  }
}

@media (min-width: 694px) {
  .home-search h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 105px;
    margin: 0;
    color: black;
    text-align: center;
    font-family: "Inconsolata", monospace;
  }

  main .search-container h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin: 0;
    color: black;
    text-align: center;
    font-family: "Inconsolata", monospace;
  }

  .search-container h3 {
    margin: 0;
    margin-bottom: -10px;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
  }

  .search-container {
    background-color: #27366d;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 140px;
    width: 50%;
    margin-top: -75px;
    z-index: 1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
  }

  .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 10px;
  }

  .search-bar button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 12px 15px;
    cursor: pointer;
  }

  .search-bar button i {
    font-size: 16px;
  }

  #toggle-filters {
    margin-top: -15px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0 10px;
  }
}

/* Media query: Tablets and other devices */
@media (max-width: 903px) {
  .logo-container {
    justify-content: center;
  }

  .logo-container h1 {
    margin: 7px 5px 0 0;
  }

  .logo-container i {
    color: #ffffff;
    margin: -2px 10px 0 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  .header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
  }

  .logo {
    display: inline-block;
    color: var(--white);
    font-size: 22px;
    margin: 10px 0 0 10px;
  }

  .my-account-btn-container {
    display: none;
  }

  .user-icon-container {
    display: block;
  }

  .nav {
    width: 50vh;
    height: 85vh;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    top: 69px;
  }

  .menu a {
    display: block;
    padding: 15px;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
  }

  .menu a:hover {
    background-color: var(--gray);
  }

  .nav {
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  .hamb {
    cursor: pointer;
    padding: 25px 20px;
    z-index: 103;
    align-items: center;
    position: relative;
    display: inline-block;
    top: -55px;
    width: auto;
  }

  .hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }

  .hamb-line::before,
  .hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .hamb .hamb-line::before {
    top: 5px;
  }

  .hamb .hamb-line::after {
    top: -5px;
  }

  .side-menu {
    display: none;
  }

  .side-menu:checked ~ nav {
    max-height: 100vh;
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background: var(--white);
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  .dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .dropdown-menu {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    background-color: var(--black);
    border: 2px solid #ccc;
    z-index: 102;
    width: 100%;
  }

  .menu li:hover .dropdown-options,
  .menu li:hover .dropdown-menu {
    display: block;
  }

  .anchor {
    display: block;
    height: 57px;
    margin-top: -57px;
    visibility: hidden;
  }

  .property-list .property-features .feature-item,
  .property-list .additional-features .feature-item {
    font-size: 0.7em;
  }

  .property-list .property-features .feature-item i,
  .property-list .additional-features .feature-item i {
    font-size: 0.9em;
  }
}

/* Media query for tablets and other devices with a screen width over 904px */
@media (min-width: 904px) {
  .logo-container i {
    color: #ffffff;
    margin: -8px 10px 0 0;
  }

  .logo-container {
    justify-content: flex-start;
  }

  .my-account-btn-container {
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 101;
    display: block;
  }

  .user-icon-container {
    display: none;
  }

  .side-menu {
    display: none;
  }

  .header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #36383f;
    padding: 10px;
    height: 70px;
    z-index: 102;
  }

  .logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    width: auto;
    margin-right: auto;
  }

  .nav {
    flex-grow: 1;
    text-align: center;
    position: relative;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 22px;
    margin-right: 30px;
  }

  .menu > li {
    position: relative;
    margin: 0 10px;
  }

  .menu > li:nth-last-child(2) {
    margin-right: 5px;
  }

  .menu > li:last-child {
    margin-left: -10px;
    margin-right: 30px;
  }

  .menu > li > a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }

  .menu > li:hover .dropdown-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    left: 0;
    padding: 10px 0;
    position: fixed;
    top: 70px;
    transform: none;
  }

  .menu > li:hover > a {
    background-color: #333;
  }

  /* Dropdown menu styles */
  .dropdown-menu {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 101;
    width: 100vw;
    justify-content: flex-start;
    padding: 10px 0;
    list-style-type: none;
  }

  .dropdown-menu li {
    width: auto;
    margin: 0 10px;
  }

  .dropdown-menu li a {
    padding: 5px 10px;
    color: #fff;
    background-color: transparent;
    white-space: nowrap;
    text-decoration: none;
  }

  .dropdown-menu li a:hover {
    background-color: #555;
  }

  h1 {
    margin: 10px 0 2px 0;
    padding-top: 2px;
    text-align: left;
    padding-right: 5px;
    font-size: 55px;
  }

  nav {
    display: inline;
    position: relative;
    width: fit-content;
    padding: 5px;
    text-align: center;
    align-items: center;
    font-size: 16px;
  }

  .dropdown {
    position: relative;
  }

  a:hover {
    text-decoration: none;
  }

  .logo h1 {
    margin: 0;
  }

  .menu > li a:hover::after {
    width: 100%;
    opacity: 1;
  }

  .nav .menu > li a:last-child {
    margin-right: 0;
  }

  .nav .menu > li a:hover {
    background-color: var(--black);
    color: #ffffff;
  }

  .menu > a:hover {
    background-color: #7E7B78;
    border-radius: 5px;
  }

  .my-account-btn-container {
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 101;
    display: block;
  }

  .my-account-btn-container .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
  }

  .menu:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent;
  }

  .menu > li:hover > .dropdown-menu {
    margin-top: -4px;
  }
}

/* Styles for screens 1005px and below */
@media (max-width: 1005px) {
  .property-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .property-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
  }

  .property-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .scrollable-images .image-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 175px; /* Set a fixed height */
  }

  .scrollable-images img {
    width: 100%;
    height: 175px; /* Set a fixed height */
    object-fit: cover;
  }

  .property-detail .property-price {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
  }

  .property-description {
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
  }

  .property-description h2 {
    margin: 0;
    font-size: 1.1em;
  }

  .property-description p {
    margin: 5px 0;
    font-size: 0.9em;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
  }

  .property-buttons {
    width: 100%;
    display: flex;
    gap: 5px;
    padding-left: 0;
    box-sizing: border-box;
    position: relative;
    top: 10px;
    left: 0;
    margin-top: 10px; /* Add margin to prevent overlapping */
  }

  .property-buttons form,
  .property-buttons button {
    flex: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .property-buttons button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Styles for screens above 1005px */
@media (min-width: 1006px) {
  .property-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .property-box {
    display: flex;
    flex-wrap: wrap;
    width: 1005px;
    height: 250px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
  }

  .property-image {
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .scrollable-images .image-container {
    display: flex;
    overflow-x: auto;
    width: 530px;
    height: 175px;
  }

  .scrollable-images img {
    width: 530px;
    height: 175px;
    object-fit: cover;
  }

  .property-detail .property-price {
    height: 75px;
    width: 530px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
  }

  .property-description {
    width: 450px;
    height: 175px;
    padding-left: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 550px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
  }

  .property-description h2 {
    margin: 0;
  }

  .property-description p {
    margin: 5px 0;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
  }

  .property-buttons {
    width: 440px;
    height: 50px;
    display: flex;
    gap: 5px;
    padding-left: 0;
    box-sizing: border-box;
    position: absolute;
    top: 190px;
    left: 550px;
  }

  .property-buttons form,
  .property-buttons button {
    flex: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .property-buttons button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .property-list .property-features .feature-item,
  .property-list .additional-features .feature-item {
    font-size: 0.6em;
  }

  .property-list .property-features .feature-item i,
  .property-list .additional-features .feature-item i {
    font-size: 0.8em;
  }
}

@media (max-width: 1202px) {
  .carousel-container {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    display: flex;
    margin-top: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: relative;
  }

  .large-image {
    width: 100%;
    height: auto;
    margin-right: 10px;
    flex: 0 0 100%;
  }

  .large-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .small-images {
    display: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .carousel-control-prev {
    left: 10px;
  }

  .carousel-control-next {
    right: 10px;
  }

  .thumbnail-container {
    display: flex;
    overflow-x: scroll;
    margin-top: 10px;
  }

  .thumbnail-item {
    flex: 0 0 auto;
    width: 100px;
    height: 60px;
    margin-right: 10px;
  }

  .thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

@media (min-width: 1203px) {
  .carousel-container {
    position: relative;
    width: 1170px;
    height: 435px;
    overflow: hidden;
    margin: 90px auto 0;
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
  
  .large-image {
    width: 775px;
    height: 435px;
    margin-right: 10px;
  }
  
  .large-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .small-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 385px;
    height: 435px;
  }
  
  .small-image-item {
    width: 100%;
    height: 215px;
  }
  
  .small-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }
}
